.locations, .amenities {
    height: 100%;
    width: 25%;
    text-align: left;
}

.locations h3,
.amenities h3 {
    font-weight: 600;
    margin-bottom: 0;
}

.locations h4,
.amenities h4 {
    font-weight: 600;
    font-size: 14px;
    margin-top: 0;
}

.locations {
    border-right: 1px solid #DDDDDD;
    padding-left: 30px;
}

.amenities {
    padding-left: 30px;
}
